@font-face {
	font-family: Helvetica;
	src: url(../fonts/HelveticaRegular.ttf);
}

@font-face {
	font-family: Raleway-Medium;
	src: url(../fonts/Raleway-Medium.ttf);
}
body,html{
	height: 100%;
}

body{
	min-height: 100%;
}

body,body *{
	font-family: Raleway-Medium;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	color: #000;
}
#wrapper{
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.main-header{
	display: flex;
	background: #363636;
}

#logo{
	width: 20%;
}

#logo img{
	width: 100%;
	
}

#logo h1{
	color: #efefef;
	font-weight: 100;
	/*width: 50%;*/
	font-size: 24px;
	padding: 15px 15px;
}

#logo h1 span{
	color: #efefef;
}

.main-menu{
	width: 100%;
	display: flex;
	align-items: center;
}

.main-menu-list{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.main-list-item header,
.right-workspace header {
	padding: 10px;
	padding-left: 20px;
	background-color:#F4F2F3;
	border-radius: 5px 5px 0 0;
}

.main-menu-list li{
	list-style: none;
	margin-right: 30px;
}

.main-menu-list li a{
	text-decoration: none;
	color: #d3d3d3;
}

.main-menu-list li a:hover{
	color: #0095FF;
}

#main{
	flex:1;
	display: flex;
}
.left-menu{
	width: 28%;
}

.configuration{
	flex: 1.3;
	display: none;
}

.description-basis{
	flex: 1;
	display: none;
}

.right-workspace{
	flex: 2.2;
}

.dialog-pay {
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0, 0.6);
	display: none;
}

.dialog-pay .pay-form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%;
	height: 50%;
	border: 1px solid #F4F2F3;
	border-radius: 5px;
	margin: 10% auto;
}
.dialog-pay .pay-form input{
	width: 50%;
	margin: 0 auto;
	height: 25px;
	border: none;
}

.dialog-pay .pay-form .pay-btns{
	display: flex;
	width: 50%;
	justify-content: space-between;
	margin: 0 auto;
}

.dialog-pay .pay-form .pay-btns input{
	width: 40%;
}

.main-footer{
	display: flex;
	background: #363636;
	align-items: center;
	justify-content: space-between;
}

#logo-footer{
	width: 20%;
}

#logo-footer h1{
	color: #727272;
	font-weight: 100;
	font-size: 16px;
	padding: 15px 15px;
}

#logo-footer h1 span{
	color: #727272;
}

.copyright{
	padding: 15px 15px;
}
.copyright p{
	color: #727272;
	font-size: 12px;
}

