.right-workspace.active {
    display: flex;
}

.workspace-print.active {
    display: flex;
}

.btn-show-result.on-preview {
    background-color: #5F5;
}

.left-menu.on-preview,
.workspace-color.on-preview{
    pointer-events: none;
    opacity: 0.5;
}

.size__radio,
.size__radio-custom {
    pointer-events: none;
}

.auth-admin.active,
.registration.active {
    opacity: 1;
    pointer-events: all;
}

.congratulations.active {
    display: flex;
}

.registration__form.active {
    display: flex;
}

.invalid__email.active {
    opacity: 1;
}

.main-menu__item.login.active .authorization__form {
    display: flex;
}

/*DELETE*/

canvas {
    border: 1px solid #ececec;
    transform-origin: 0 0 0;
}

._no-events {
    pointer-events: none;
}

.info-basis.active {
    display: flex;
}

.panel__basis-button,
.panel__new-template {
    display: none;
}

.panel__basis-button.active,
.panel__new-template.active {
    display: flex;
}


.color-picker {
    display: none;
}

.color-picker.active {
    display: flex;
}



/*PREVIEW*/

.constructor-preview {
    background: #fff;
    overflow: hidden;
}

.constructor-preview.active {
     display: flex;
}

.constructor-preview img {
    pointer-events: none;
}



/*VARIANTS*/

.constr__item-templ.active {
    border-color: #a4a4a4;
}

.editor__right {
    opacity: 0;
    pointer-events: none;
}

.editor__right.active {
    opacity: 1;
    pointer-events: all;
}

.panel__new-print {
    position: relative;
}

.panel__new-print > img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #fff;
}

.panel__new-print > img.active {
    display: block;
}


/*CART*/

.order__section {
    opacity: 0;
    pointer-events: none;
}

.order__section.active {
    opacity: 1;
    pointer-events: none;
}