<!DOCTYPE html>
<html>
<head>
	<title>Login</title>

	<style type="text/css">
		
		body {
			min-height: 100vh;
		}

		.container {
			width: 100%;
			height: 100%;
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			left: 0;
		}

		.login {
			background: #eee;
		}

	</style>
</head>
<body>

	<div class="container">
		<div class="login">
			<form>
				<input type="text" name="user" required>
				<input type="text" name="pass" required>
				<!-- <input type="file" name="file"> -->
				<input type="submit">
			</form>
		</div>
	</div>

	<script>

		document.querySelector('form').addEventListener('submit', function (){
			event.preventDefault();

			let xhr = new XMLHttpRequest(),
				form = document.querySelector('form');

			xhr.onreadystatechange = () => {
				console.log(xhr.response);

				if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200)
					document.location.href = '/';
			}

			// console.log(this);

			// var form = new FormData();

			

			xhr.open('POST', '/login');

			xhr.send(JSON.stringify({ name: document.querySelector('input[name="user"]').value, password: document.querySelector('input[name="pass"]').value }));
		});
				

	</script>

</body>
</html>