.base__edit .editor{
    flex-wrap: nowrap;
}
@media screen and (max-width: 1024px){
    .products__menu{
        position: relative;
    }
    .description__text{
        width: 100%;
    }
    .products__list{
        position: absolute;
        top: 0;
        left: 52px;
        z-index: 10000;
        display: block;
        width: 300px;
        height: auto;
        background-color: #fff;
        border-radius: 25px;
    }
    .products__list li {
        z-index: 999;
        background-color: #fff;
    }
    .products__item.active{
        border-radius: 25px;
        transform: scale(1);
    }
    .favorites__item{
        width: 25%;
    }
    .size-header{
        padding: 0;
        justify-content: flex-start;
    }
    .header__adaptive-container{
        display: flex;
        align-items: center;
    }
    .menu{
        min-width: 100%;
    }
    .container{
        flex-flow: wrap;
        padding: 0;
    }
    .wrapper__content{
        padding: 0;
    }
    .panel{
        margin: 0;
        margin-top: 20px;
    }
    .header__container_padding{
        padding: 0 20px;
    }
    .product-details{
        flex-direction: column;
    }
    .product-details__product{
        width: 100%;
        order: 1;
        margin-bottom: 60px;
    }
    .product-details__details{
        order: 2;
        width: 100%;
    }


    /* MENU */
    .header{
        position: relative;
        justify-content: flex-start;
    }
    .header_padding{
        padding: 0 20px;
    }
    .header__adaptive-menu,
    .header__adaptive-menu-admin{
        display: block;
        height: 35px;
        width: 35px;
        outline: none;
        cursor: pointer;
        background-image: url(../img/icon/menu.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    /*    .header__adaptive-menu-admin{
            display: none;
        }*/
    .header__adaptive-menu_margin{
        margin-right: 30px;
    }
    .main-menu{
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #fff;
    }
    .main-menu.active{
        display: block;
    }
    .main-menu__list{
        flex-direction: column;
        align-items: center;
    }
    .main-menu__item{
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }
    .main-menu__link{
        display: block;
        width: 100%;
        height: 100%;
    }
    .main-menu__link:hover:after{
        left: 35%;
        width: 30%;
    }

    .file-upload{
        width: 660px;
    }

    .picture-list__picture{
        width: 110px;
    }
    .picture__clone,
    .picture__remove{
        width: 90px;
    }

    /* main page */
    .main-page__header{
        width: auto;
        padding: 0 20px;
    }
    .header_background:after{
        display: none;
    }
    .header__description{
        width: 100%;
    }
    br{
        display: none;
    }
    .block_padding{
        padding: 0 20px;
    }
    .created__container{
        justify-content: space-around;
    }
    .created__container div:last-child{
        align-self: flex-start;
    }

    .products-similar__slider{
        justify-content: space-around;
    }
}

@media screen and (max-width: 900px){
    .panel__column-item{
        width: 100%;
        margin: 0 !important;
    }
    .panel__content.flex {
        flex-direction: column;
    }
    .panel__left-set-label:not(:first-child){
        margin-top: 10px;
    }
    .panel__content.base__edit{
        flex-direction: column;
    }
    .panel__right-side-create{
        max-width: 500px;
        min-width: 400px;
        width: 100%;
        margin: 20px auto 40px;
        padding-bottom: 70px;
    }
    .panel__left-side-crate{
        margin: 0 auto;
    }
    .favorites__item{
        width: 33.333%;
    }

}


@media screen and (max-width: 768px){
    .favorites__container{
        /*justify-content: space-around;*/
    }

    .dignity__container{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .panel__content.flex{
        flex-direction: column;
    }

    /* adaptive-main-page */
    .header__head{
        position: relative;
        align-items: center;
        justify-content: flex-start;
    }
    .adaptive__button{
        display: inline-block;
        margin-right: 20px;
    }
    .head_padding{
        padding: 20px 0 60px;
    }
    .head__list{
        display: none;
        position: absolute;
        left: 0;
        bottom: -140px;
        flex-direction: column;
        width: 100%;
        background:linear-gradient(to bottom, #4B78E9, #406AD4);
    }
    .head__item{
        width: 100%;
    }
    .head__item_margin{
        margin: 0;
        margin: 10px auto;
        text-align: center;
    }
}

@media screen and (max-width: 600px){
    .header_padding{
        padding: 0 10px;
    }
    .main{
        /*width: 100%;*/
    }

    .navigation__list{
        flex-wrap: wrap;
    }
    .details__colors{
        display: flex;
        flex-direction: column;
    }
    .color-btns{
        align-self: center;
    }
    .navigation__list_padding{
        padding: 0 10px;
    }
    .product-details_padding{
        padding: 30px 10px;
    }
    .size__block{
        width: 80px;
    }
    .details__btns{
        text-align: center;
    }
    .details__link{
        text-align: center;
    }
    .details__add-basket{
        display: block;
        margin: 0 auto 10px;
    }
    .details__link{
        text-align: center;
    }
    .create__button-create{
        width: 100%;
    }
    .create__btns {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .btns__add-text{
        margin-bottom: 10px;
    }

    .footer{
        /* width: 100%; */
    }

    .editor{
        width: auto;
        justify-content: space-between;
    }
    .editor__item_margin{
        margin: 0;
    }
    .editor-padding{
        /*padding: 10px 20px;*/
    }
    .link__change:after{
        left: -30px;
    }
    .details__link_margin{
        margin-left: 30px;
    }
    .btns__add-text {
        text-align: left;
    }
    .btns__add-text span{
        margin-left: 35px;
    }
    .btns__add-text:after{
        right: 33px;
    }

    .description__buttons .buttons__create{
        margin: 0;
        margin-top: 20px
    }

    .form__input-registration{
        width: 100%;
    }

    .panel__basis-item{
        flex-flow: wrap;
    }
    .panel__basis-button{
        width: 100%;
    }
    .panel__content.base__add{
        flex-direction: column;
    }
    .panel__left-side{
        margin-right: 0;
    }
    .panel__new-basis{
        margin: 0 auto 20px;
    }
    .panel__left-set-label{
        margin-top: 10px;
    }
    .panel__right-side{
        padding-bottom: 70px;
    }
    .file-upload__picture-list,
    .file__picture-list{
        width: 400px;
    }
    .base__edit .create__btns{
        flex-direction: row;
    }
    .base__edit .btns__add-text{
        margin: 0;
    }
    .favorites__item{
        width: 49%;
    }
}
@media screen and (max-width: 450px){
    .header__admin{
        display: none;
    }
    .header__control{
        width: auto;
    }
    .editor__left{
        width: 100%;
    }
    .editor__right{
        margin-top: 10px;
    }
    .editor.active{
        justify-content: flex-end;
        flex-wrap: wrap;
    }
    .editor__text-input{
        width: 160px;
    }
    .editor__fonts{
        width: 140px;
    }
    .file-upload__picture-list,
    .file__picture-list{
        width: 95%;
    }
    .file-upload__header{
        padding: 50px 20px 0;
    }
    .panel__content{
        padding: 10px;
    }
    .base__edit .editor{
        flex-wrap: wrap;
    }
    .favorites__item{
        width: 100%;
    }
}