@font-face {
    font-family: 'Roboto Condensed';
    src: url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 62.5%;
}

body {
    background-image: url('../img/pattern.png');
    min-height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
}

button.simple {
    width: 186px;
    height: 55px;
    background: linear-gradient(to bottom, rgb(80, 126, 242), rgb(27,90,250));
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Lato, sans-serif;
    display: block;
    margin: 0  0 0 auto;
    border-radius: 10px;
    cursor: pointer;
}

button.simple:hover {
    opacity: 0.9;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    color: #4274f5;
}

.header {
    height: 70px;
    padding: 0 0 9px 0;
    background: #fff;
}

.header__home {

}

.container {
    max-width: 1242px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__control {
    height: 100%;
    width: 200px;
    background: #fff;
    display: flex;
    padding-left: 15px;
    justify-content: end;
    align-items: center;
    font-size: 1.5rem;
}

.header__logout,
.header__admin {
    font-family: Lato, sans-serif;
    font-weight: bold;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.header__admin {
    margin-right: 5px;
}

.header__admin:hover,
.header__logout:hover {
    border-bottom-color: #000;
}

.header__logout {
    fonr-size: 1.4rem;
}

.wrapper__content {
    padding-top: 15px;
}

.wrapper__content .container {
    justify-content: start;
    align-items: start;
}

.menu {
    min-width: 295px;
    flex-shrink: 1;
    flex-basis: 295px;
    background: #fff;
    border-radius: 5px;
}

.menu__title,
.panel__card-title {
    padding: 16px 0 16px 28px;
    font-size: 2.1rem;
    font-weight: bold;
    color: #393939;
    font-family: Lato, sans-serif;
    position: relative;
    box-shadow: 1px 0 30px rgba(56,49,187, 0.07);
    border-radius: 5px 5px 0 0 ;
    z-index: 1;
}

.menu__list {
    /*background: #fff;*/
    list-style: none;
}

.menu__point {
    position: relative;
    padding: 20px 0 20px 28px;
    background: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: Lato, sans-serif;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.menu__point.active,
.menu__point:hover {
    background: #3d71f5;
    color: #fff;
}

.menu__point:last-child {
    border: none;
}

.panel {
    width: 100%;
    margin-left: 20px;
}

.panel__card {
    margin-bottom: 20px;
    background: #fff;
    /*display: none;*/
}

.panel__card.active {
    display: block;
}

.panel__content {
    padding: 28px;
}

.panel__info {
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Lato, sans-serif;
    margin-bottom: 10px;
}

.panel__inputs {
    margin-bottom: 28px;
    display: flex;
    align-items: center;
    position: relative;
}

input[type="text"],
input[type="number"] {
    padding: 8px 11px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Lato, sans-serif;
}

input[type="text"][name="font"] {
    min-width: 37%;
}

input[type="file"] {
    opacity: 1;
    position: relative;
    width: 100%;
}

input[type="file"]:focus {
    outline: none;
    border: none;
}

input[type="file"][name="font_file"] {
    margin-left: 38px;
}

input[type="file"]::before {
    content: attr(data-after);
    background: #fff;
    position: absolute;
    font-family: Lato, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*.panel__inputs::after {*/
    /*content: "";*/
    /*background: url('../img/icon/cross.png') center center no-repeat;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*width: 21px;*/
    /*height: 21px;*/
    /*cursor: pointer;*/
/*}*/

.panel__font-list {
    list-style: none;
    background: #fff;
}

.loading {
    opacity: 0.7;
    pointer-events: none;
}

.panel__font-point {
    display: flex;
    padding: 14px 28px;
    justify-content: space-between;
    align-items: center;
}

.panel__font-point:nth-child(2n) {
    background: #f7f9fe;
}

.panel__font-delete {
    background: url('../img/icon/cross.png') center center no-repeat;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.panel__font-type p,
.panel__font-type span {
    color: #393939;
}

.panel__font-type p {
    font-size: 2.3rem;
    margin-bottom: 7px;
}

.panel__font-type span {
    font-size: 1.5rem;
    font-family: Lato, sans-serif;
}

.panel__card-page {
    height: 100px;
    backround: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 440px;
    margin: 0 auto;
    overflow: hidden;
}

.panel__page-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel__page-point {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.7rem;
    font-weight: bold;
    font-family: Lato, sans-serif;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    cursor: pointer;
}

.panel__page-point.selected {
    border-radius: 50%;
    background: #55acee;
    color: #fff;
}

.panel__page-num {
    pointer-events: none;
}

/* NEW */

button.button__add-basis,
button.button__add-print{
    width: 209px;
    margin: 30px 0 50px 28px;
}

.panel__basis-item{
    display: flex;
    padding: 14px 28px;
}
.panel__basis-item:not(:last-child){
    border-bottom: 1px solid #b7b7b7;
}
.panel__basis-description{
    flex: 1;
    margin-left: 25px;
}
.panel__basis-name{
    font-size: 20px;
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}
.panel__basis-type,
.panel__basis-edit,
.panel__basis-remove{
    font-size: 17px;
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.panel__basis-price{
    font-size: 25px;
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-top: 10px;
}

.panel__basis-button{
    margin-top: 40px;
}

.panel__basis-edit,
.panel__basis-remove{
    background: none;
    cursor: pointer;
    outline: none;
}
.panel__basis-remove{
    margin-left: 20px;
}


.panel__new-basis{
    width: 370px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #b7b7b7;
    position: relative;
}

.panel__file{
    font-size: 15px;
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.panel__file-add{
    position: absolute;
    top: 20px;
    border: 1px solid #000;
    z-index: -1;
}

.panel__info-help{
    font-size: 15px;
    color: #b7b7b7;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
}
.panel__left-settings{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}
.panel__setting-item,
.panel__column-item{
    display: flex;
    flex-direction: column;
    width: 90px;
}
.panel__left-set-label{
    font-size: 16px;
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}

.panel__left-side{
    margin-right: 20px;
}
.panel__right-side{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
}

.panel__content.flex{
    display: flex;
}

.panel__column-item{
    width: 210px;
}
.panel__column-item:nth-child(2n-1){
    margin-right: 20px;
}
.panel__column-item:not(:first-child){
    margin-top: 20px;
}
.panel__column-item:nth-child(2){
    margin-top: 0;
}
.style-ratio{
    position: relative;
    background: transparent;
    margin-right: 5px;
    width: 15px;
}
.style-ratio:after{
    content: '';
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: #b7b7b7;
    border-radius: 2px;
    position: absolute;
    left: 0px;
    top: 0;
}
.style-ratio:checked:after{
    background-color: #3d71f5;
    background-image: url(../img/admin-panel/checkmark.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
.panel__type-picture{
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    cursor: pointer;
    margin-right: 10px;
}
.panel__column-item-radio-header{
    font-size: 16px;
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}
.panel__column-item-radio{
    margin-top: 20px;
}

select{
    padding: 8px 11px;
    font-size: 1.5rem;
    font-family: Lato, sans-serif;
}

.input-btn{
    display: flex;
}

.input-btn input{
    width: 130px;
}

.input-btn button{
    flex: 1;
    background: none;
    border: 1px solid #b7b7b7;
    border-left: none;
    cursor: pointer;
    font-size: 15px;
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.add-basis-upload{
    position: absolute;
    bottom: 0;
    right: 0;
}

.panel__size-container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*justify-content: space-between;*/
}


.size-container__item{
    cursor: pointer;
    width: 105px;
    height: 37px;
    background-color: #f0f0fa;
    border-radius: 5px;
    display: flex;
    align-items: center;
    /* padding-left: 10px; */
    padding-right: 10px;
    margin-top: 10px;
    margin-right: 7px;
}
.size-container__value{
    width: 100%;
    font-size: 15px;
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 0 7px;
}
.size-container__close{
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: transparent;
    background-image: url(../img/admin-panel/Close.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.panel__uploaded-pic{
    width: 90px;
    cursor: pointer;
    position: relative;
}

.panel__uploaded-pic img{
    width: 100%;
}

.panel__uploaded-remove{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 22px;
    background-color: #346bf7;
    background-image: url(../img/admin-panel/delete.png);
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    border: 2px;
}

.panel__uploaded-name{
    display: none;
    position: absolute;
    left: 0;
    bottom: -12px;
    background-color: #346bf7;
    width: 90px;
    height: 25px;
    font-size: 14px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border: 2px;
    text-align: center;
    line-height: 24px;
}

.panel__uploaded-pic:hover .panel__uploaded-name,
.panel__uploaded-pic:hover .panel__uploaded-remove,
.panel__uploaded-pic.main .panel__uploaded-name {
    display: block;
}

.panel__container-picture{
    display: flex;
    justify-content: start;
}

.panel__uploaded-pic-add{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.panel__uploaded-pic-add.inactive {
    display: none;
}

.panel__uploaded-pic-add img{
    margin-top: 15px;
    width: 45px;
}

.panel__uploaded-pic-add .panel__file{
    position: absolute;
    top: 55px;
    left: 13px;
    font-size: 14px;
    font-weight: 400;
}



.panel__main-variant {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.panel__main-variant canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.panel__main-variant.active {
    display: block;
}

.panel__main-variant img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.panel__card{
    /* display: none; */
}

.panel__basis-img {
    position: relative;
    max-width: 120px;
}

.panel__basis-img img {
    width: 100%;
}

.header__adaptive-menu{
    display: none;
}



/*CONSTRUCTOR*/

.panel__left-side-crate{
    width: 400px;
    height: 400px;
}

.panel__right-side-create{
    position: relative;
    width: calc(100% - 420px);
    margin-left: 20px;
    min-width: 410px;
}

.panel__column-item_width{
    width: 100%;
    margin: 0;
}

.btns__add-text,
.btns__add-print{
    width: 220px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}

.create__btns{
    display: flex;
    justify-content: space-between;
}

.create__btns_margin{
    margin-top: 25px;
}

.editor-padding{
    padding: 8px 17px;
}

.editor__text .editor__text-input{
    padding: 4px 11px;
}

.editor__fonts-list{
    padding: 0;
}

.editor_margin{
    margin: 20px 0 0;
}

.panel__basis{
    background-color: #ececec;
    height: 40px;
    border-radius: 5px;
    padding: 0 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin-top: 10px;
}
.button-remove{
    width: 12px;
    height: 14px;
    background-image: url(../img/icon/trash.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.basis-btn{
    cursor: pointer;
    border-radius: 0;
}

.editor{
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.editor__fonts-list{
    padding-right: 12px;
}
.size__input{
    padding: 0 !important;
}

.editor__left,
.editor__right{
    padding: 0 17px;
}

.editor-padding{
    padding: 0;
}

.save-template{
    position: absolute;
    bottom: 0;
    right: 0;
}

.font__radio{
    /*padding: 16px 0 16px 28px;*/
}

.type__basis{
    display: block;
    margin-top: 10px;
}
.panel__container{
    display: flex;
    flex-wrap: wrap;
}
.panel__print{
    position: relative;
    width: 190px;
    margin-right: 24px;
}
.panel__print img{
    width: 100%;
}
.panel__print-btn{
    display: none;
    position: absolute; 
    width: 100%;
    height: calc(100% - 35px);
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.64);
}
button.button__remove-print{
    margin: 80px auto 0;
    height: 40px;
    width: 150px;
    font-size: 14px;
}

.panel__print:hover .panel__print-btn{
    display: block;
}
button.button__add-print{
    margin-top: 0;
    margin-left: 0;
}

.window__background{
    position: fixed;
    display: flex;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.64);
    z-index: 100;
}
.window__add-print{
    position: relative;
    margin: auto;
    width: 600px;
    padding: 28px;
    background: #fff;
    border-radius: 25px;
}

.window__title{
    padding: 16px 0 16px 0;
    font-size: 2.1rem;
    font-weight: bold;
    color: #393939;
    font-family: Lato, sans-serif;
    position: relative;
    text-align: center;
}
.window__add-print input[type="file"]{
    width: 186px;
    height: 55px;
    line-height: 55px;
    margin: 20px auto 0;
}

.window__add-print input[type="file"]::before{
    text-align: center;
    color: #fff;
    background: linear-gradient(to bottom, rgb(80, 126, 242), rgb(27,90,250));
    border-radius: 10px;
}

.print__radio{
    display: flex;
    width: 277px;
    align-items: center;
    margin: 10px auto;
}

.print__radio .panel__column-item-radio-header{
    margin: 0;
    margin-right: 10px;
}

button.window-button__add-print{
    margin: 20px auto;
}

.window__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.window__add-print .panel__print-btn{
    height: 100%;
}
.window__add-print .panel__print{
    margin: 0;
}