body{
    background: #f5f5fc;
    display: flex;
    margin: 0;
}

.auth-admin,
section.registration{
    margin: auto;
    z-index: 1;
}

section.registration{
    position: fixed;
    display: flex;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.auth-admin__form,
.registration__form{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 360px;
    background-color: #fff;
}
.registration__form{
    position: relative;
    margin: auto;
    width: 800px;
    height: 400px;
    justify-content: flex-start;
}
.form_padding{
    padding: 38px;
}
.form_shadow{
    box-shadow: 0 0 79px rgba(56,49,187,0.18);
}

.form_radius{
    border-radius: 10px;
}

.form__header{
    font-size: 22px;
    text-align: center;
}

.form__input{
    outline: none;
    width: 100%;
    height: 45px;
}

.input_border{
    border: none;
    border-bottom: 1px solid #7f819c;
    opacity: 0.6; 
}
.input_margin{
    margin-bottom: 20px;
}
.input_text{
    font-size: 15px;
    text-align: center;
    color: #7f819c;
    opacity: 0.6;
    line-height: 45px;
}

.form__input:focus.input_text,
.form__input:focus.input_border{
    opacity: 1;
}

.form__button{
    width: 100%;
    height: 50px;
}
.button_text_color{
    font-size: 17px;
}
.button_margin{
    margin-bottom: 15px;
}
.form__btns{
    text-align: center;
}

.form__link{
    color: #393939;
    font-size: 14px;
}

.form__input-registration{
    display: block;
    height: 68px;
    border-radius: 5px;
    border: 1px solid #748898;
    width: 470px;
    margin: 0 auto;
    font-size: 19px;
}

.form__header-registration{
    font-size: 29px;
    font-weight: 700;
}
.form__text-registration{
    width: 470px;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
}
.form__button-registration{
    width: 283px;
    height: 74px;
    font-size: 19px;
    font-weight: 700;
    border-radius: 37px;
}
.invalid__email{
    opacity: 0;
    color: #fb5e5e;
    font-size: 15px;
    text-align: center;
}
.button__close{
    position: absolute;
    top: 35px;
    right: 35px;
    width: 35px;
    height: 35px;
    background-image: url(../img/icon/cross.png);
    background-repeat: no-repeat;
}
.text-registration_margin{
    margin-top: 25px;
}
.form__data_margin{
    margin-top: 45px;
}

.header-congratulations{
    color: #5acc80;
    margin-top: 35px;
}

.registration__form{
    display: none;
}

.congratulations{
    margin: auto;
    width: 790px;
    height: 290px;
    /*display: flex;*/
    flex-direction: column;
    background-color: #fff;
    display: none;
}
.text-congratulation_margin{
    margin-top: 25px;
    margin-bottom: 35px;
}