.section__cart{
    padding: 0 30px;
}
.block__header{
    font-size: 30px;
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.cart__item{
    display: flex;
    align-items: center;
    padding: 30px 0;
}

.cart__item:not(:last-child){
    border-bottom: 1px solid #f0f0fa;
}

.cart__item img{
    width: 160px;
}

.cart__name{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
.cart__size{
    margin-bottom: 15px;
}
.cart__size,
.cart__color{
    display: flex;
    align-items: center;
}

.cart__size p,
.cart__color p{
    font-size: 18px;
    font-weight: 400;
    margin-right: 15px;
}

.item__size {
    width: 93px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    background-color: #F0F0FA;
    border-radius: 5px; 
}

.item__color{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}


/* INPUT NUMBER */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.quantity-block {
  margin: auto;
  font-size: 20px;
}
.quantity-arrow-minus,
.quantity-arrow-plus {
  cursor: pointer;
  font-size: 20px;
  padding: 6px 12px;
  width: 60px;
  box-sizing: border-box;
  /* border-radius: 4px; */
  outline: none;
  color: #393939;
  border: none;
  background-color: #F0F0FA;
}
.quantity-arrow-minus{
    border-radius: 5px 0 0 5px;
}
.quantity-arrow-plus{
    border-radius: 0 5px 5px 0;
}
.quantity-num {
  box-sizing: border-box;
  text-align: center;  
  width: 55px;
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 4px;
  outline: none;
}

.cart__price{
    font-size: 18px;
    margin-right: 100px;
}

.cart__remove-btn{
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    background: url(../img/icon/cross.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.cart__buttons{
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}


.link__link{
    text-decoration: none;
    color: #393939;
    font-size: 16px;
}
.total__price{
    font-size: 25px;
    margin-left: auto;
    margin-right: 50px;
}
.button__issue-cart{
    width: 272px;
    height: 60px;
    border-radius: 10px;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(-180deg, #507ef2, #1a59fb);
}

.info__profile-card{
    padding: 0 30px;
}

.info__field{
  margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.field__label{
    font-size: 17px;
    margin-bottom: 15px;
}

.field__input{
  box-sizing: border-box;
    border: 1px solid #b7b7b7;
    outline: none;
    width: 314px;
    height: 40px;
    border-radius: 2px;
}


.order__section{
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
    pointer-events: none;
  background-color: rgba(0,0,0,0.6);
  z-index: 10000;
}

.order-papap{
  box-sizing: border-box;
  margin: auto;
  max-width: 710px;
  border-radius: 10px;
  width: 100%;
  padding: 30px;
  background-color: #fff;
    position: relative;
}

.order__form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__order{
  text-align: center;
  margin-bottom: 20px;
}

.button__close{
  top: 23px !important; 
}

.panel__column-item{
    width: 210px;
}
.panel__column-item:nth-child(2n-1){
    margin-right: 20px;
}
.panel__column-item:not(:first-child){
    margin-top: 20px;
}
.panel__column-item:nth-child(2){
    margin-top: 0;
}
.style-ratio{
    position: relative;
    background: transparent;
    margin-right: 5px;
    width: 15px;
}
.style-ratio:after{
    content: '';
    cursor: pointer;
    width: 15px;
    height: 15px;
    background: #b7b7b7;
    border-radius: 2px;
    position: absolute;
    left: 0px;
    top: 0;
}
.style-ratio:checked:after{
    background-color: #3d71f5;
    background-image: url(../img/admin-panel/checkmark.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}
.panel__type-picture{
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    cursor: pointer;
    margin-right: 10px;
}
.panel__column-item-radio-header{
    font-size: 17px;
    color: #393939;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 25px;
}
.panel__column-item-radio{
    margin-top: 20px;
    width: 314px;
}
.order__form_bot{
  margin-top: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order__button{
      width: 186px;
    height: 55px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    background: linear-gradient(-180deg, #507ef2, #1a59fb);
}
.total{
  font-size: 22px;
}