[data-color-line] {
    border-radius: 5px;
}

h3 {
    font-family: sans-serif;
}

h3 {
    font-size: 20px;
}

.container {
    margin: 30px 30px;
}

.color-picker {
    position: absolute;
    left: 100%;
    max-width: 195px;
    border: 1px solid #E0DFE9;
    border-radius: 5px;
    overflow: hidden;
    font-size: 0;
    box-sizing: border-box;
    z-index: 1000;
    margin: 0;
    padding: 0;
    background: #fff;
}

.color-picker canvas {
    border: none;
}

.color-picker__head {
    padding: 5px 10px;
    background: linear-gradient(#963645, #7318FF);
}

.color-picker__title {

}

.color-picker__colors {
    padding: 10px 7px;
}

.color-picker__color-line {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 7px;
}

.color-picker__color-line::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #F4F4F7;
}

.color-picker__circle {
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(../img/icon/colorLine.svg) center center no-repeat content-box;
    border-radius: 50%;
    pointer-events: none;
}

.color-picker__color-array {
    overflow: hidden;
    margin: 0 -5px -5px 0;
}

.color-picker__color {
    width: 13px;
    height: 13px;
    border-radius: 3px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}