.product-details{
    display: flex;
    justify-content: flex-start;
}
.product-details_padding{
    padding: 35px 30px;
}
.product-details__product{
    /*width: 45%;*/
    margin-right: 60px;
    position: relative;
}
.product-details__settings{
    /*width: 50%;*/
}

.product__rotate{
    display: flex;
    width: 220px;
    height: 25px;
    align-items: center;
    justify-content: space-between;
}
.rotate_margin{
    margin: 0 auto;
}
.rotate__text{
    font-size: 20px;
}
.rotate__btn-left,
.rotate__btn-right{
    width: 16px;
    height: 15px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.rotate__btn-left{
    background-image: url(../img/icon/rotate-left.png);
}
.rotate__btn-right{
    background-image: url(../img/icon/rotate-right.png);
}

.product__preview{
    min-width: 402px;
    height: 400px;
    margin: 0 10px;
    overflow: hidden;
}
/*.preview_margin{
    margin: 20px auto;
}*/
.product__img{
    width: 100%;
}

.product__create{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.create__button-create{
    width: 530px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto;
}
.create__btns{
    width: 530px;
    display: flex;
    justify-content: space-between;
}
.create__btns_margin{
    margin: 15px auto;
}
.btns__add-text,
.btns__add-print{
    width: 255px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
}




.details__name{
    font-size: 35px;
}
.details__name_margin{
    margin-bottom: 45px;
}

.details__header{
    font-size: 20px;
}

.details__block_margin{
    margin-bottom: 27px;
}

.details__color,
.details__color-pick{
    width: 27px;
    height: 27px;
    border: none;
    padding: 0;
    background: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

.details__color-pick {
    border-radius: 0;
}
.details__color_margin{
    margin-left: 20px;
}
.price{
    font-size: 18px;
}
.price__value{
    font-size: 35px;
}
.details__add-basket{
    width: 275px;
    height: 60px;
    font-size: 18px;
}
.details__link{
    font-size: 15px;
    color: inherit;
}
.details__link_margin{
    margin-left: 40px;
}

.details__btns {
    display: flex;
    flex-wrap: wrap;
}

.details__save {
    display: inline-block;
    position: relative;
    margin-top: 22px;
}

.details__after {
    max-width: 250px;
    width: 100%;
    margin-left: 40px;
    margin-top: 20px;
    color: #363636;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    /*pointer-events: none;*/
}

.details__after.pending {
    opacity: 0;
    transition: opacity 3s linear;
}

.details__after.active {
    opacity: 1;
    pointer-events: all;
}

.details__after.inactive {
    pointer-events: none;
}

.details__after a {
    text-decoration: underline;
    margin-top: 3px;
    color: #393939;
}

.details__after a:visited {
    color: #393939;
}


.size__container{
    display: flex;
    flex-wrap: wrap;
}

.size__container_margin{
    margin-top: 7px;
}


.size__radio {
    display: none;
}
.size__block{
    display: block;
    position: relative;
    width: 93px;
    height: 37px;
    background: #f0f0fa;
    border-radius: 5px;

}
.size__block_margin{
    margin: 20px 20px 0 0;
}

/* .size__block_margin_top{
    margin-top: 20px;
} */
.size__radio-custom {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 37px;
    text-align: center;
    font-size: 15px;
}

.size__radio:checked + .size__radio-custom {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background:  #3d71f5;
    color: #fff;
    border-radius: 5px;
}


.slide{
    box-sizing: border-box;
    width: 210px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.slide_margin{
    /* margin-right: 10px; */
}
.products-similar_padding{
    padding: 0 0 100px;
}
.products-similar__header{
    font-size: 35px;
}
.products-similar__header_margin{
    /* margin-bottom: 30px; */
    margin: 30px;
}
.products-similar__slider{
    display: flex;
    justify-content: space-between;
    position: relative;
}




















/* NEW LAYOUT */

.btns__add-print{
    text-align: center;
    position: relative;
}
.btns__add-text img,
.btns__add-print img{
    width: 16px;
    height: 14px;
    margin-left: 4px;
    margin-bottom: -2px;
}
.btns__add-text img{
    width: 13px;
}
.product__create{
    flex-direction: column-reverse;
}
.text_bold{
    font-weight: 700;
}
.link__change{
    position: relative;
}
.link__change:after{
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    right: 23px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 19px;
    height: 19px;
    background-image: url(../img/icon/add-to-favourites.png);
}

.profile__name{
    color: #393939;
    position: relative;
}

.profile__name:after{
    content: '';
    position: absolute;
    top: 6px;
    right: -20px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 12px;
    height: 8px;
    background-image: url(../img/icon/backward.png);
}


/* ACTIVE COLOR CLASS!!! */
.details__color.active{
    background-image: url(../img/icon/checkmark.png);
    background-position: center;
    background-size: 11px;
    background-repeat: no-repeat;
}

.slider__buttons{
    width: calc(100% - 20px);
}


.color__basis{
    width: auto;
    text-decoration: underline;
    font-size: 15px;
    font-weight: 700;
    color: #393939 !important;
    background: none !important;
    margin-left: 20px;
}

.template__list,
.order__image-list{
    display: flex;
    flex-direction: column;
}

.constr__item-templ{
    width: 70px;
    height: 70px;
    border: 1px solid #ececec;
    margin-bottom: 10px;
}

.constr__item-templ img{
    width: 100%;
}

.constr__item-templ .loader{
    margin: auto;
    border: 8px solid #ececec;;
    border-radius: 50%;
    border-top: 8px solid #1a59fb;
    width: 35px;
    height: 35px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.constr__item-templ .loader-container{
    width: 70px;
    height: 70px;
    display: flex;
    padding: 0;
}



/* PAPAP */

.new-brand__create{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    display: none;
}

.new-brand__form{
    margin: auto;
    max-width: 632px;
    width: 100%;
    padding: 35px 45px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
}

.new-brand__header{
    font-size: 29px;
    font-weight: 700;
    padding: 0 40px;
    text-align: center;
    margin: 0;
    margin-bottom: 60px;
    position: relative;
    color: #393939;
}
.new-brand__header:after{
    content: "";
    position: absolute;
    bottom: -34px;
    left: 0;
    display: block;
    width: 100%;
    height: 14px;
    background-image: url(../img/icon/vln.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px 14px;
}
.close__tab{
    position: absolute;
    top: 42px;
    right: 35px;
    width: 19px;
    height: 19px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    background-image: url(../img/icon/cls.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.new-brand__input{
    width: 100%;
    min-height: 63px;
    border-radius: 5px;
    border: 1px solid #b7b7b7;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    color: #393939;
}

#new-brand__tags,
.new-brand__input.tags {
    margin-top: 30px;
}

.new-brand__input.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}

.new-brand__tag-search {
    display: inline-flex;
    position: relative;
}

.new-brand__hint-container {
    position: absolute;
    display: none;
    padding-top: 10px;
    top: 100%;
    left: 0;
    z-index: 1;
}

.new-brand__tag-input {
    font-size: 20px;
    border: none;
    outline: none;
    max-width: 80px;
}

.send__new-brand{
    background: linear-gradient(-180deg, #ffbf46, #ff850c);
    border: none;
    outline: none;
    cursor: pointer;
    width: 276px;
    height: 57px;
    border-radius: 28.5px;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin: 45px auto 0;
    position: relative;
}

.form__button-background{
    background-image: url(../img/icon/bt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 338px 57px;
}

.new-brand__tag-container {
    display: flex;
    flex-wrap: wrap;
}

.brand__tag{
    width: 95px;
    height: 43px;
    background-color: #f0f0fa;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    padding: 0 9px;
    margin-right: 9px;
    margin-bottom: 9px;
    justify-content: space-between;
}

.brand__tag{
    font-size: 18px;
    font-weight: 400;
}

.brand__tag p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
}

.brand__tag-close{
    width: 12px;
    height: 12px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    background-image: url(../img/icon/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-left: 9px;
}

.brand__hint-list{
    list-style: none;
    border: 1px solid #b7b7b7;
    padding: 13px 17px;
    max-width: 165px;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    background: #fff;
}
.hint-list__item{
    white-space: nowrap;
    overflow: hidden;
    /*text-overflow: ellipsis;*/
    /*background: linear-gradient(45deg, #393939 20%, #fff);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    cursor: pointer;
    
}

.hint-list__item .text-rest {
    color: #aaa;
}

.hint-list__item:not(:first-child){
    margin-top: 11px;
}