@font-face

html, body{
    height: 100%;
}
body,
#wrapper{
    min-height: 100%;
    background-image: url(../img/pattern.png);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #393939;
}

#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
}



.header{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_padding{
    padding: 0 63px;
}
.header_background{
    background-color: #fff; 
}

.logo__text{
    color: #4274f5;
    text-decoration: none;
    font-size: 25px;
}

.main-menu__list{
    display: flex;
    list-style: none;
}
.main-menu__item_margin{
    margin-left: 30px;
}
.main-menu__link{
    position: relative;
    text-decoration: none;
    font-size: 16px;
}
.main-menu__link:hover:after{
    content: " ";
    position: absolute;
    display: block;
    width: 60%;
    height: 3px;
    bottom: -7px;
    left: 20%;
    background: linear-gradient(180deg, #507ef2, #1a59fb);
    border-radius: 1.5px; 
    z-index: 99;
}










.main{
    flex: 1;
    width: calc(100% - 126px);
    border-radius: 6px;
}
.main_shadow{
    box-shadow: 1px 0 35px rgba(56,49,187, 0.07);
}
.main_margin{
    margin: 32px auto;
}
.main_background{
    background-color: #fff;
}
.main__navigation{
    display: flex;
    align-items: center;
    height: 50px;
}
.main__navigation_shadow{
    box-shadow: 1px 0 30px rgba(56,49,187, 0.07);
}
.navigation__list{
    list-style: none;
    display: flex;
    font-size: 15px;
    color: #7f819c;
    font-weight: 700;
}
.navigation__list_padding{
    padding: 0 30px;
}
.navigation__item_margin{
    margin-left: 5px;
}
.navigation__item.current{
    color: #9b9db2;
}
.navigation__item:not(:last-child):after{
    content: "/";
}
.navigation__link{
    text-decoration: none;
    color: inherit;
}













.footer{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px 6px 0 0;
    height: 75px;
    width: calc(100% - 126px);
}
.footer_margin{
    margin: 0 auto;
}
.footer_padding{
    padding: 0 30px;
}
.footer_background{
    background-color: #fff;
}












.text_color_main{
    color: #393939;
}

.button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}

.button_gradient_yellow{
    background: linear-gradient(-180deg, #ffbf46, #ff850c);
}
.button_gradient_yellow:hover{
    background: linear-gradient(-360deg, #ffbf46, #ff850c);
}
.button_gradient_blue{
    background: linear-gradient(-180deg, #507ef2, #1a59fb);
}
.button_gradient_blue:hover{
    background: linear-gradient(-360deg, #507ef2, #1a59fb);
}
.button_text_color{
    color: #fff;
}
.button_disable{
    background: #f0f0fa;
    color: #393939;
    cursor: default;
}







/* CHANGES */

.main-menu__list{
    align-items: center;
}

.profile__name{
    color: #393939;
    position: relative;
    font-size: 16px;
}

.profile__name:after{
    content: '';
    position: absolute;
    top: 6px;
    right: -20px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 12px;
    height: 8px;
    background-image: url(../img/icon/backward.png);
}

.section__header{
    padding: 30px 30px;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    color: #393939;
}




/* SLIDER */
.slider__container{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 100px);
    margin: 0 auto;
}

.slider__item{
    width: 210px;
    cursor: pointer;
    position: relative;
    padding-bottom: 63px;
    border-radius: 10px;
    margin: 35px 30px;
}
.slider__link{
    color: #393939;
    text-decoration: none;
}
.slider__item-img{
    width: 100%;
    border-radius: 10px;
}
.slider__item-type,
.slider__item-name,
.slider__item-price{
    padding: 3px 10px;
}
.slider__item-type{
    font-size: 14px;
    color: #9b9db2;
    font-weight: 400;
}
.slider__item-name{
    font-size: 17px;
}
.slider__item-price{
    font-size: 20px;
}

.slider__buttons{
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 100%; 
    padding: 0 10px;
    position: absolute;
    left: 0;
    bottom: 12px;
}


.slider__btn-add{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 44px;
    font-size: 17px;
    color: #fff;
    border-radius: 10px;
}
.slider__btn-edit{
    width: 27px;
    height: 27px;
    position: relative;
    margin-bottom: 10px;
}
.slider__btn-edit::after{
    content: '';
    width: 27px;
    height: 27px;
    display: block;
    position: absolute;
    top: 0;
    left:0;
    background-image: url(../img/icon/paintbrush.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}
.slider__item:hover{
    box-shadow: 0 0 79px rgba(56,49,187, 0.18);
    z-index: 9999999999999;
}

.slider__item:hover .slider__buttons{
    display: flex;
}

.slick-prev,
.slick-next{
    border: none;
    outline: none;
    position: absolute;
    width: 12px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 12px 20px;
    cursor: pointer;
    margin-top: 120px;
    top: 20px;
    /* flex: 1; */
}
.slick-prev{
    margin-right: 5px;
    left: -20px;
    background-position: left;
    background-color: #fff;
    background-image: url(../img/icon/prew.png);
}
.slick-next{
    margin-left: 2px;
    right: -20px;
    background-color: #fff;
    background-position: top;
    background-image: url(../img/icon/next.png);
}

