.my-brand{
    padding: 0 30px;
}


.my-brand__header{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    margin: 20px 0;
}

.my-brand__container{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* width: 83%; */
    margin: 0 auto;
    max-width: 938px;
}


.myBrand__tags-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}
.myBrand__tag{
    height: 31px;
    padding: 0 11px;
    line-height: 31px;
    background-color: #f0f0fa;
    font-weight: 400;
    font-size: 13px;
    width: 78px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 5px;
    text-align: center;
}

.myBrand__tag:not(:last-child){
    margin-right: 10px;
}

.button__edit-mbr{
    width: 130px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
}
.user__text{
    font-size: 18px;
    font-weight: 400;
}
.user__info{
    margin-top: 4px;
    font-size: 13px;
    font-weight: 400;
    color: #a5a5a5;
}

.myBrand-information{
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-bottom: 1px solid #F0F0FA;
    padding-bottom: 12px;
}

.my-brand .slider__item {
    margin: 10px 15px;
}

.my-brand .slider__item:hover{
    box-shadow: 0 0 79px rgba(56,49,187, 0.18);
}

.my-brand .slider__item .slider__btn-edit-mbr{
    opacity: 1;
    display: block;
    margin: 0 auto;
    width: 190px;
    height: 44px;
    border-radius: 10px;
    font-size: 17px;
    color: #fff;
}

.my-brand .slider__item .slider__buttons{
    opacity: 1;
}


/* SLIDER */

.viewport{
    overflow: hidden;
    display: block;
    position: relative;
    padding: 30px 0;
}
.slider__wrapper{
    position: relative;
    display: flex;
    width: 100%;
    height: 407px;
    align-items: center;
    transition: .7s;
}

.slider__item.middle-slide{
    padding: 30px;
    padding-bottom: 30px;
    margin: 10px 25px;
    width: calc( 210px * 1.63);
    height: calc( 255px * 1.7);
    box-shadow: 0 0 79px rgba(56,49,187, 0.18);

}

.slider__item.middle-slide .slider__buttons{
    bottom: 20px;
    width: calc(100% - 40px);
    margin-left: 10px;
}
.slider-brand{
    position: relative;
    width: 100%;
}

.btn-slider-prev,
.btn-slider-next{
    position: absolute;
    cursor: pointer;
    width: 28px;
    height: 48px;
    border: none;
    outline: none;
    background: none;
    background-image: url(../img/icon/prew.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    top: 200px;
}

.btn-slider-prev{
    left: -48px;
}

.btn-slider-next{
    transform: rotate(180deg);
    right: -48px;
}


.my-brand .slider__item:not(.middle-slide):hover {
    box-shadow:none;
    border: 1px solid #e0e0e0;
    transition: none;
}
.my-brand .slider__item:not(.middle-slide){
    border: 1px solid transparent;
    box-sizing: border-box;
}